.app-wrapper {
    background-color: #E5E5E5;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #1F242A;
}

.app-header {
    box-shadow: 8px 8px 16px 4px rgba(133, 139, 146, 0.06);
    width: calc(100% - 2px);
    height: 80px;
    background-color: #FFFFFF;
    z-index: 1;
}

.page-content-wrapper {
    background-color: #FFFFFF;
    width: 1200px;
    height: calc(100% - 80px);
    padding: 0 20px;
}

.notes__header-layout {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}

.notes__notes-layout{
    display: grid;
    margin-top: 80px;
    /*grid-template-columns: minmax(100px, 1fr);*/
    grid-template-columns: repeat(4, auto);
    gap: 20px

}

.notes__card-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    min-height: 110px;
    box-sizing: border-box;
}

.notes__card-layout:hover {
    background-color: #8ADD37;
    cursor: pointer;
}

.notes__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #333333;
}

.notes__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #1F242A;
}

.notes__card-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    color: #A1A4B5;
}

.link__reset {
    text-decoration: none;
}

.notes__add-note-button {
    background: #8ADD37;
    border-radius: 25px;
    border: none;
    width: 230px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.note-info__wrapper {
    padding: 36px 20px 0;
}

.note-info__back-arrow-layout:hover {
    cursor: pointer;
}

.note-info__title-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 50px;
}

.notes__user-comment {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #70758F;
    width: 40%;
    margin-bottom: 30px;
}

.notes__created-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #A1A4B5;
    margin-bottom: 40px;
}

.modal__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close-icon {
    align-self: flex-end;
    margin-bottom: 5px;
}

.modal_close-icon:hover {
   cursor: pointer;
}

.modal__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #1F242A;
    margin-bottom: 60px;
}