body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('NotoSans'), url("./fonts/Roboto-Light.ttf") format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('NotoSans'), url("./fonts/Roboto-Regular.ttf") format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('NotoSans'), url("./fonts/Roboto-Medium.ttf") format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('NotoSans'), url("./fonts/Roboto-Bold.ttf") format('opentype');
}